In [3]:
import pandas as pd

data = pd.read_csv('./Datas/Student Mental health.csv')
df_especific = data[['Age', 'What is your course?', 'Choose your gender', 'Do you have Depression?', 'Do you have Anxiety?', 'Do you have Panic attack?']]
df_especific = df_especific.rename(columns={'What is your course?':'Course','Choose your gender':'Gender', 'Do you have Depression?': 'Depression', 'Do you have Anxiety?':'Anxiety',  'Do you have Panic attack?': 'Panic_Attack' })

df_especific

      Age              Course  Gender Depression Anxiety Panic_Attack
0    18.0         Engineering  Female        Yes      No          Yes
1    21.0   Islamic education    Male         No     Yes           No
2    19.0                 BIT    Male        Yes     Yes          Yes
3    22.0                Laws  Female        Yes      No           No
4    23.0        Mathemathics    Male         No      No           No
..    ...                 ...     ...        ...     ...          ...
96   21.0                 BCS  Female         No     Yes           No
97   18.0         Engineering    Male        Yes     Yes           No
98   19.0            Nursing   Female        Yes      No          Yes
99   23.0    Pendidikan Islam  Female         No      No           No
100  20.0  Biomedical science    Male         No      No           No

[101 rows x 6 columns]

In [4]:
#quais cursos foram analisados
cursos_analisados = df_especific['Course'].unique()
cursos_analisados

array(['Engineering', 'Islamic education', 'BIT', 'Laws', 'Mathemathics',
       'Pendidikan islam', 'BCS', 'Human Resources', 'Irkhs',
       'Psychology', 'KENMS', 'Accounting ', 'ENM', 'Marine science',
       'KOE', 'Banking Studies', 'Business Administration', 'Law',
       'KIRKHS', 'Usuluddin ', 'TAASL', 'Engine', 'ALA',
       'Biomedical science', 'koe', 'Kirkhs', 'BENL', 'Benl', 'IT', 'CTS',
       'engin', 'Econs', 'MHSC', 'Malcom', 'Kop', 'Human Sciences ',
       'Biotechnology', 'Communication ', 'Diploma Nursing',
       'Pendidikan Islam ', 'Radiography', 'psychology', 'Fiqh fatwa ',
       'DIPLOMA TESL', 'Koe', 'Fiqh', 'Islamic Education', 'Nursing ',
       'Pendidikan Islam'], dtype=object)

In [5]:
#qual o genero mais presente no curso

# Agrupar por curso e gênero e contar as ocorrências
contagem_genero_por_curso = df_especific.groupby(['Course', 'Gender']).size().reset_index(name='Count')

# Encontrar o gênero mais presente em cada curso
indice_maximo = contagem_genero_por_curso.groupby('Course')['Count'].idxmax()
genero_mais_presente = contagem_genero_por_curso.loc[indice_maximo]

# Exibir o gênero mais presente em cada curso
print("Gênero mais presente em cada curso:")
print(genero_mais_presente)

Gênero mais presente em cada curso:
                     Course  Gender  Count
0                       ALA  Female      1
1               Accounting   Female      1
2                       BCS  Female     11
4                      BENL  Female      2
5                       BIT  Female      6
7           Banking Studies  Female      1
8                      Benl  Female      1
9        Biomedical science  Female      2
11            Biotechnology  Female      1
12  Business Administration  Female      1
13                      CTS  Female      1
14           Communication   Female      1
15             DIPLOMA TESL  Female      1
16          Diploma Nursing  Female      1
17                      ENM  Female      1
18                    Econs  Female      1
19                   Engine  Female      2
20              Engineering  Female     12
22                     Fiqh  Female      1
23              Fiqh fatwa   Female      1
24          Human Resources  Female      1
25          Human Sciences   Female      1
26                       IT  Female      1
27                    Irkhs    Male      1
28        Islamic Education  Female      1
29        Islamic education    Male      1
30                    KENMS  Female      1
31                   KIRKHS  Female      1
32                      KOE  Female      4
33                   Kirkhs    Male      1
34                      Koe    Male      1
35                      Kop  Female      1
36                      Law  Female      1
37                     Laws  Female      2
38                     MHSC    Male      1
39                   Malcom  Female      1
40           Marine science  Female      1
41             Mathemathics    Male      1
42                 Nursing   Female      1
43         Pendidikan Islam  Female      1
44        Pendidikan Islam   Female      1
45         Pendidikan islam  Female      1
46               Psychology  Female      1
47              Radiography    Male      1
48                    TAASL    Male      1
49               Usuluddin   Female      1
50                    engin  Female      1
51                      koe  Female      1
52               psychology  Female      2

0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
       ..
96    NaN
97    NaN
98    NaN
99    NaN
100   NaN
Name: Depression, Length: 101, dtype: float64